@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  /* Text Color */
  --rts-para: #65676b;
  --rts-heading: #1b1b1b;
  --rts-black: #000000;
  --rts-white: #ffffff;
  --rts-gray: #f1f1f1;
  /* Background Color */
  --btn-1: #ab8a62;
  --heading-color: #ab8a62;
  --rts-border: rgba(125, 128, 135, 0.3);
  --transparent: transparent;
  --transition: all 0.4s ease;
  --color-success: #26cf4b;
  --color-danger: #ff0003;
  --color-warning: #ff8f3c;
  --color-info: #1ba2db;
  --color-facebook: #3b5997;
  --color-twitter: #1ba1f2;
  --color-youtube: #ed4141;
  --color-linkedin: #0077b5;
  --color-pinterest: #e60022;
  --color-instagram: #c231a1;
  --color-vimeo: #00adef;
  --color-twitch: #6441a3;
  --color-discord: #7289da;
  /* typhography */
  --glida: "Gilda Display", serif;
  --jost: "Jost", sans-serif;
  --h1: 80px;
  --h2: 60px;
  --h3: 48px;
  --h4: 40px;
  --h5: 32px;
  --h6: 24px;
  --20: 20px;
  --18: 18px;
  --p: 16px;
  --p-sm: 16px;
  --p-xs: 14px;

  --body-bg: #ffffff;
}

[data-theme="dark"] {
  /* Text Color */
  --body-bg: #2b2b2b;
  --rts-para: #f8eeeccc;
  --rts-heading: #fafafa;
  --rts-black: #000000;
  --rts-white: #1b1b1b;
  --rts-gray: #f1f1f1;
  /* Background Color */
  --btn-1: #ab8a62;
  --heading-color: #ab8a62;
  --rts-border: rgba(125, 128, 135, 0.3);
  --transparent: transparent;
  --transition: all 0.4s ease;
}

body {
  font-family: var(--jost);
  color: var(--rts-para);
  background-color: var(--body-bg);
  line-height: 28px;
  font-size: var(--p);
  font-weight: 400;
  margin: 0;
  overflow-x: hidden;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: var(--rts-heading);
  font-family: var(--glida);
  font-weight: 400;
  overflow-wrap: break-word;
}
